:root {
    /* ;Primary */
    --clr-primary-purple: hsl(259, 100%, 65%);
    --clr-primary-lightred: hsl(0, 100%, 67%);

    /* Neutral */
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-offwhite: hsl(0, 0%, 94%);
    --clr-neutral-lightgrey: hsl(0, 0%, 86%);
    --clr-neutral-smokegrey: hsl(0, 1%, 44%);
    --clr-neutral-offblack: hsl(0, 0%, 8%);

    --ff-primary: 'Poppins', sans-serif;
    --fs-base: 2rem;
    --fw-regular-i: 400;
    --fw-bold: 700;
    --fw-xbold-i: 800;
}

body {
    min-height: 100vh;
    background-color: var(--clr-neutral-offwhite);
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    display: grid;
    place-content: center;
    padding: 0 1rem;
}

main {
    background-color: var(--clr-neutral-white);
    border-radius: 1rem 1rem 6rem 1rem;
    padding: 3rem 1.5rem;
}

@media (min-width: 800px) {
    main {
        padding: 3rem;
    }
}